.bg-my-secondary {
    background-color: #111c44;
    color: white;
}
.bg-my-primary {
    background-color: #0b1437;
    color: white;
}

.top{
    border-bottom: 1px solid #47506e;
    width: 100%;
}
.buttom-bg{
    background-image: linear-gradient(to bottom, #6C5CE7, #5F27CD);
}

@keyframes float{
    0%,100%{
        transform: translateX(-50%) translateY(0);
    }
    50%{
        transform: translateX(-50%) translateY(-6px);
    }
}

.floating-icon {
    animation: float 2s ease-in-out infinite;
  }

.icon-hover:hover{
    color:#435799;
    cursor: pointer;
}